
@import "node_modules/bulma/sass/utilities/initial-variables";

$primary: #b23432;

$body-background-color: #f3f2fc;
$family-sans-serif: 'Raleway', sans-serif;
$family-primary: $family-sans-serif;

$menu-item-active-background-color: $primary;

$navbar-item-color: white;
$navbar-item-hover-color: white;
$navbar-item-hover-background-color: darken($primary, 10);
$navbar-dropdown-color: $grey-dark;

.navbar-dropdown .navbar-item {
  color: $navbar-dropdown-color;
}

$panel-heading-radius: 0px;
$panel-block-background-color: white;

.panel .panel-block {
  background-color: $panel-block-background-color;
}

$modal-content-width: 900px;

.modal .modal-card-body {
  padding: 0;
}

$template-form-height: 400px;

i.fa {
  color: rgba(10, 10, 10, 0.2);
  cursor: pointer;

  &:hover {
    color: rgba(10, 10, 10, 0.3);
  }
}
