@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

@import "variables";

@import "node_modules/bulma/bulma";

.navbar-item span.img {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  margin-right: 1rem;
  overflow: hidden;
}

img.is-round {
  border-radius: 50%;
  margin-right: 2em;
}

input.is-fading {
  width: auto;
  background: transparent;
  border: none;
  box-shadow: none;

  &:hover, &:focus {
    background: white;
    box-shadow: none;
    border: none;
  }
}

.split{
  display: flex;

  &-menu {
    height: $template-form-height;
    flex: 1;
    border-right: 1px solid #dbdbdb;

    li {
      padding: 0.4em 0.75em;
      cursor: pointer;

      &:hover:not(.menu-label) {
        background-color: whitesmoke;
      }
    }
  }

  &-body {
    max-height: $template-form-height;
    flex: 3;
    overflow: auto;

    .template-row {
      &:not(:last-child) {
        border-bottom: 1px solid whitesmoke;
      }

      &-header, &-body {
        padding: 0.75em;
      }

      &-label {
        color: $grey;
      }

      &-description {
        color: $grey;
        font-size: $size-7;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        padding-top: 7px;
      }

      &:hover {
        background-color: #fafafa;
      }
    }
  }

  &-empty {
    color: #7a7a7a;
    letter-spacing: 0.1em;
    cursor: default;
    padding: 0.75em;
  }
}

.drag-icon {
  cursor: move !important;
}

.panel-block.has-actions {
  justify-content: space-between;
}

.new-record-trigger, .new-record-trigger:hover, .new-record-trigger:focus {
  border: none;
  resize: none;
  border-radius: 0;
  background: white;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

textarea.plain {
  &, &:hover, &:focus {
    border: none;
    box-shadow: none;
    resize: none;
    background: transparent;
  }
}

.template-filling {
  background: $primary;
  padding: 1em;
  border-bottom: 1px solid #dbdbdb;

  &-row {
    display: flex;
    align-items: center;

    div {
      flex: 2;
      padding: 0.7em 2em;
    }

    div:first-child {
      flex: 1;
      text-align: right;
    }
  }
}

.template-filled {
  padding: 1em;
  border-bottom: 1px solid #dbdbdb;

  &-row {
    display: flex;
    align-items: center;

    div {
      flex: 1;
      padding: 0.7em 2em;
    }

    div:first-child {
      font-weight: bold;
      text-align: right;
    }
  }
}

.navbar-dropdown.is-active {
  display: block;
}

.record-comments {
  border-top: 1px solid #dbdbdb;
  background: whitesmoke;

  .comment {
    padding: 0.7em 1em;
    display: flex;
    align-items: flex-start;

    p {
      flex: 1;
    }
  }
}
